#registrationContainer {
  background-color: #626cb8;
  border-style: solid;
  border-color: #374081;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.errorMsg {
    color: rgb(158, 4, 4);
}

.button {
    margin: 10px;
}